html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
}

#parallax_container{
    width: 100vw;
    height: 60vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction_container{
    color: white;
    margin-left: 10vw;
    margin-top: 40vh;
}