html{
    overflow-x: hidden;
    color: var(--primary-color)
}

h, h1, h2, h3{
    font-family: Verdana;
    font-size: 5vh;
    margin: 0vh;
}

p{
    font-family: Georgia;
    font-size: 2.6vh;
    margin: 0vh;
}

strong{
    font-family: Verdana;
}

a{  
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-style: dotted;
}

#parallax_container{
    background-image: url('../images/parallax_image.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction_container{
    padding: 2vh;
    color: var(--primary-color);
    background-color: var(--secondary-color-transparent);
    text-align: justify;
}
#introduction_container #introduction_headline {
    margin-bottom: 1.5vh;
}
#introduction_container #ContactMe_button{
    float: right;
    margin-top: 2vh;
}

#ContactMe_button{
    width: max-content;
    height: max-content;
    color: var(--primary-color);
    background-color: var(--accent-color);
    transition: background-color 0.5s ease;
    border: 0.5vh solid var(--primary-color);
    font-size: 3vh;
    font-family: monospace;
    font-weight: bolder;
}
#ContactMe_button:hover{
    background-color: var(--accent-color-highlited);
    cursor: pointer;
}

#SozialMedia_container{
    display: flex;
    justify-content: space-between;
    padding: 2vh;
}

.SozialMedia_links{
    border-radius: 1vh;
    transition: background-color 0.5s ease;
    background-color: var(--accent-color);
}
.SozialMedia_links:hover{
    cursor: pointer;
    background-color: var(--accent-color-highlited);
}

.SozialMedia_icons{
    border-radius: 1vh;
    filter: invert(1);
}

#aside_right .card{
    margin: 3vh;
}

#content_container .card{
    margin: 3vh;
}

.section_container{
    display: flex;
}

.section_container p{
    text-align: justify;
}

.card{
    color: var(--secondary-color);
    box-shadow: var(--shadow);
    padding: 2vh;
}

#languages_headline{
    font-weight: bold;
    font-family: Verdana;
}

#skills_headline{
    font-weight: bold;
    font-family: Verdana;
}

.language_label{
    font-family: Verdana;
}

.skill_label{
    font-family: Verdana;
}

.language_span{
    border-radius: 0.5vh;
    color: var(--primary-color);
    background-color: var(--accent-color);
    font-weight: bold;
    font-family: Verdana;
}

.skill_progress{
    width: 100%;
    border-radius: 0vh;
}
.skill_progress::-webkit-progress-bar{
    background-color: var(--shadow-top);
}
.skill_progress::-webkit-progress-value{
    background-color: var(--accent-color);
}

.class_image_container{
    background-image: url('../images/Me.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}