html{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: Verdana, sans-serif;
}

#parallax_container{
    margin-top: 0vh;
    margin-left: 0vw;
    width: 100vw;
    height: 80vh;
    position: absolute;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#introduction_container{
    color: white;
    margin-right: 10vw;
    margin-top: 30vh;
    text-align: right;
}