@media only screen and (max-width: 767px) {
    html{
        width: 100vw;
    }

    #parallax_container{
        position: absolute;
        top: 0vh;
        left: 0vw;
        width: 100vw;
        height: 80vh;
        background-position-x: -24vh;
        background-position-y: -28vw;
    }

    #introduction_container{
        position: absolute;
        margin: 2vh;
        height: 55vh;
    }

    #SozialMedia_container{
        position: absolute;
        top: 65vh;
        width: 92vw;
        margin: 0vh;
    }
    #SozialMedia_container .SozialMedia_links .SozialMedia_icons{
        height: 8vh;
    }

    #aside_richtig {
        margin-top: 85vh;
    }
}